
@font-face {
  font-family: 'LT Superior';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LTSuperior-Regular.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'LT Superior';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/LTSuperior-Medium.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'LT Superior';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LTSuperior-Semibold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'LT Superior';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/LTSuperior-Bold.otf') format('otf');
  font-display: swap;
}
